*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

#doughnutChart {
  width: 200px;
  height: 200px;
}
