*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charts-container {
  display: flex;
  margin-right: 100px;
}

.linechart-container, .doughnutchart-container {
  background-color: #ecf0f1;
  border-radius: 10px;
  margin-right: 50px;
  padding: 20px;
}

.interface-container {
  color: #FFF;
  background-color: #c0392b;
  border-radius: 10px;
  margin-left: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
